body {
    margin: 0;
    background: snow;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}
a {
    text-decoration: none;
}
.clearfix:after {
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

#news-icons {
    float: left;
    width: 30.3%;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}
.news-icon {
    position: relative;
    margin: 10px;
}
.news-icon:hover {
    cursor: pointer;
    opacity: 0.5;
    font-weight:bold;
}
.news-icon span:first-child {
    width: 30%;
    display: block;
    float: left;
}
.news-icon span:last-child {
    width: 70%;
    display: block;
    font-size: 30px;
    position: absolute;
    left: 35%;
    bottom: 35%;
}
#news-icons img {
    width: 100%;
    display: block;
}
#news-content {
    float: right;
    width: 69.55%;
    background: lightyellow;
}
#news-content h1{
    text-transform: uppercase;
}
#news-content h1,
#news-content h2 {
    text-align: center;
    border-bottom: 1px dashed grey;
    font-family: fantasy;
}
.news-content-item {
    margin-bottom: 20px;
    border-bottom: 2px solid grey
}
.news-content-item img {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.news-content-item p {
    font-size: 18px;
    margin: 20px 10px;
    font-family: cursive;
}
.news-content-item span {
    margin: 15px;
    font-weight: bold;
    display: block;
    font-family: cursive;
}
